{% extends 'base.html' %} {% load static %} {% block title %}
<title>Pages</title>
{% endblock %} {% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Pages</h1>
    </div>
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered display no-wrap" id="events-data-table" width="100%" cellspacing="0">
                    <div id="date-select-div" style="float: right">
                        <div style="display: inline-flex">
                            <span style="font-size: 1.5em;">From:</span>
                            <input id="event-from-date" type="date" style="width: 10em" onchange="getEventsData()">
                        </div>
                        <div style="display: inline-flex">
                            <span style="font-size: 1.5em;">To:</span>
                            <input id="event-to-date" type="date" style="width: 10em" onchange="getEventsData()">
                        </div>
                    </div>
                    <thead>
                        <tr>
                            <th>Page</th>
                            <th>Unique Visits</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stats in event_stats %}
                        <tr>
                            <td>
                                <span class="text-primary text-uppercase">{{ stats.event_name }}</span>
                                <br>{{ stats.path_info }}
                            </td>
                            <td>
                                {{ stats.unique_visits }}
                                <br>
                                <a href="{% url 'event-analysis' event_name=stats.event_name %}">Page Analysis</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

{% endblock %} {% block custom_js %}
<script src="{% static 'js/demo/custom-events.js' %}"></script>
{% endblock %}