{% extends 'base.html' %} {% load static %} {% block title %}
<title>Pages</title>
{% endblock %} {% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-primary">Unique Visits Per Page</h1>
    </div>
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered display no-wrap" id="events-data-table" width="100%" cellspacing="0">
                    <div id="date-select-div" style="float: right; margin-top: 1.2em;">
                        <div style="display: inline-flex">
                            <input class="form-control form-control-sm" id="event-from-date" type="date" style="width: 10em" onchange="getEventsData()">
                        </div>
                        -
                        <div style="display: inline-flex">
                            <input class="form-control form-control-sm" id="event-to-date" type="date" style="width: 10em" onchange="getEventsData()">
                        </div>
                    </div>
                    <thead>
                        <tr>
                            <th>Page</th>
                            <th>Unique Visits</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

{% endblock %} {% block custom_js %}
<script src="{% static 'js/custom/custom-events.js' %}"></script>
{% endblock %}