{% extends 'base.html' %} {% load static %} {% block title %}
<title>Dashboard</title>
{% endblock %} {% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Summary Stats</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
    </div>

    <!-- Content Row -->
    <div class="row">

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body" style="padding: 0.7em;">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Average <span class="granularity">Daily</span> Page Views</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                <div class="avg average-daily">{{ average_stats.average_daily_page_views }}</div>
                                <div class="avg average-weekly" style="display: none;">{{ average_stats.average_weekly_page_views }}</div>
                                <div class="avg average-monthly" style="display: none;">{{ average_stats.average_monthly_page_views }}</div>
                                <div class="avg average-yearly" style="display: none;">{{ average_stats.average_yearly_page_views }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body" style="padding: 0.7em;">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Average <span class="granularity">Daily</span> Unique Visits</div>
                            <div id="average-unique_visits" class="h5 mb-0 font-weight-bold text-gray-800">
                                <div class="avg average-daily">{{ average_stats.average_daily_unique_visits }}</div>
                                <div class="avg average-weekly" style="display: none;">{{ average_stats.average_weekly_unique_visits }}</div>
                                <div class="avg average-monthly" style="display: none;">{{ average_stats.average_monthly_unique_visits }}</div>
                                <div class="avg average-yearly" style="display: none;">{{ average_stats.average_yearly_unique_visits }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body" style="padding: 0.7em;">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Average <span class="granularity">Daily</span> First Time Visits</div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div id="average-first_time_visits" class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                        <div class="avg average-daily">{{ average_stats.average_daily_first_time_visits }}</div>
                                        <div class="avg average-weekly" style="display: none;">{{ average_stats.average_weekly_first_time_visits }}</div>
                                        <div class="avg average-monthly" style="display: none;">{{ average_stats.average_monthly_first_time_visits }}</div>
                                        <div class="avg average-yearly" style="display: none;">{{ average_stats.average_yearly_first_time_visits }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body" style="padding: 0.7em;">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Average <span class="granularity">Daily</span> Returning Visits</div>
                            <div id="average-returning-visits" class="h5 mb-0 font-weight-bold text-gray-800">
                                <div class="avg average-daily">{{ average_stats.average_daily_returning_visits }}</div>
                                <div class="avg average-weekly" style="display: none;">{{ average_stats.average_weekly_returning_visits }}</div>
                                <div class="avg average-monthly" style="display: none;">{{ average_stats.average_monthly_returning_visits }}</div>
                                <div class="avg average-yearly" style="display: none;">{{ average_stats.average_yearly_returning_visits }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->

    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Page Views</h6>
                    <div>
                        <select id="summary-granularity-trigger" style="width: 7em" class="browser-default custom-select">
                      <option value="daily" selected>Daily</option>
                      <option value="weekly">Weekly</option>
                      <option value="monthly">Monthly</option>
                      <option value="yearly">Yearly</option>
                    </select>
                        <select id="chart-select" style="width: 8em" class="browser-default custom-select">
                      <option value='bar' selected>Bar Chart</option>
                      <option value="line">Line Chart</option>
                    </select>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <button class="date-control" id="graph-left-jump" title="Jump Left">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 9" version="1.1" xml:space="preserve" width="12px" height="9px" class="svg">
                          <g>
                            <path style="fill:#fff;" d="M 12 7.6611 L 8.5189 4.5005 L 12 1.3389 L 10.5883 0 L 6 4.3514 L 6.179 4.5005 L 6 4.6486 L 10.5883 9 L 12 7.6611 Z"></path>
                            <path style="fill:#fff;" d="M 6 7.6611 L 2.5189 4.5005 L 6 1.3389 L 4.5883 0 L 0 4.3514 L 0.179 4.5005 L 0 4.6486 L 4.5883 9 L 6 7.6611 Z"></path>
                          </g>
                        </svg>
                      </button>
                            <button class="date-control" id="graph-left-crawl" title="Move Left">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 13" version="1.1" xml:space="preserve" width="7px" height="13px" class="arrow">
                          <g transform="translate(-1,1)">
                            <path style="fill:#fff;" d="M 8.1961,7.4604 4.4026,3.8289 8.1961,0.196 6.6576,-1.3424 l -5.195,5.1713 5.195,5.17 z"></path>
                          </g>
                        </svg>
                      </button>
                            <button class="date-control" id="graph-right-crawl" title="Move Right">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 13" version="1.1" xml:space="preserve" width="7px" height="13px" class="arrow">
                          <g transform="translate(-1.4,1)">
                            <path style="fill:#fff;" d="M 1.4626,7.4604 5.2561,3.8289 1.4626,0.196 l 1.5385,-1.5384 5.195,5.1713 -5.195,5.17 z"></path>
                          </g>
                        </svg>
                      </button>
                            <button class="date-control" id="graph-right-jump" title="Jump Right">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 9" version="1.1" xml:space="preserve" width="12px" height="9px" class="svg">
                          <g transform="matrix(-1,0,0,1,12,0)">
                            <path style="fill:#fff;" d="M 12 7.6611 L 8.5189 4.5005 L 12 1.3389 L 10.5883 0 L 6 4.3514 L 6.179 4.5005 L 6 4.6486 L 10.5883 9 L 12 7.6611 Z"></path>
                            <path style="fill:#fff;" d="M 6 7.6611 L 2.5189 4.5005 L 6 1.3389 L 4.5883 0 L 0 4.3514 L 0.179 4.5005 L 0 4.6486 L 4.5883 9 L 6 7.6611 Z"></path>
                          </g>
                        </svg>
                      </button>
                        </div>
                        <div class="col-md-2">
                            <button class="date-control" id="graph-zoom-out" title="Zoom Out">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" version="1.1" xml:space="preserve" width="10px" height="10px">
                          <g>
                            <rect style="fill:#fff;" x="0" y="4" width="10" height="2"></rect>
                          </g>
                        </svg>
                      </button>
                            <button class="date-control" id="graph-zoom-in" title="Zoom In">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" version="1.1" xml:space="preserve" width="10px" height="10px">
                          <g>
                            <rect style="fill:#fff;" x="0" y="4" width="10" height="2"></rect>
                            <rect style="fill:#fff;" x="4" y="0" width="2" height="10"></rect>
                          </g>
                        </svg>
                      </button>
                        </div>
                        <div class="col-md-7" style="background: #4e73df; color: #fff; height: 30px;">
                            <div id="date-select-div" class="row">
                                <div class="col-md-5" style="padding:0px; margin: 3px 3px;">
                                    <input class="form-control" id="graph-from-date" style="width: inherit; height: 25px;" type="date" onChange='getGraphData()'>
                                </div>
                                <div class="col-md-2" style="text-align: center; padding-top: 3px; margin-left: -6px">
                                    -
                                </div>
                                <div class="col-md-5" style="padding:0px; margin: 3px 0px 0px -3px;">
                                    <input class="form-control" id="graph-to-date" style="width: inherit; height: 25px;" type="date" onChange='getGraphData()'>
                                </div>
                            </div>
                            <div id="week-select-div" style="display: none" class="row">
                                <select id="graph-from-week" style="width: 6em; height: 25px; margin: 3px 0px 3px 3px; padding: 0px;" class="browser-default custom-select" onChange='getGraphData()'></select>
                                <input id="graph-from-year" style="height: 26px; margin: 2px; width: 6em;" type="number" onChange='getGraphData()'> -
                                <select id="graph-to-week" style="width: 6em; height: 25px; margin: 3px 0px 3px 3px; padding: 0px;" class="browser-default custom-select" onChange='getGraphData()'></select>
                                <input id="graph-to-year" style="height: 26px; margin: 2px 0px 0px 2px; width: 6em;" type="number" onChange='getGraphData()'>
                            </div>
                        </div>
                    </div>
                    <div class="chart-area">
                        <canvas id="my-chart"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pie Chart -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Traffic</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="chart-pie pt-4 pb-2">
                        <canvas id="myPieChart"></canvas>
                    </div>
                    <div class="mt-4 text-center small">
                        <span class="mr-2">
                      <i class="fas fa-circle text-primary"></i> Direct
                    </span>
                        <span class="mr-2">
                      <i class="fas fa-circle text-success"></i> Search
                    </span>
                        <span class="mr-2">
                      <i class="fas fa-circle text-info"></i> Referral
                    </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"></h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <button class="btn btn-primary" style="float: right" onclick="exportTableToCSV('summary.csv')">
                  <span><i class="fas fa-sign-out-alt"></i></span>
                 Export
                </button>
                <table class="table table-bordered display no-wrap" id="graph-data-table" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Page Views</th>
                            <th>Unique Visits</th>
                            <th>First Time Visits</th>
                            <th>Returning Visits</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

{% endblock %} {% block custom_js %}
<script src="{% static 'js/demo/custom-dashboard.js' %}"></script>
{% endblock %}