{% extends 'base.html' %} {% load static %} {% block title %}
<title>Reports</title>
{% block custom_css %}
<link href="{% static 'css/custom-reports.css' %}" rel="stylesheet"> {% endblock %} {% endblock %} {% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Reports</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Traffic from locations</h6>
                </div>
                <div class="card-body" style="padding: 0px">
                    <div class="tile-1" id="tile-1">
                        <ul class="nav nav-tabs nav-justified" role="tablist">
                            <div class="slider"></div>
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#regions" role="tab" aria-controls="home" aria-selected="true">Regions</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#cities" role="tab" aria-controls="profile" aria-selected="false">Cities</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="regions" role="tabpanel" aria-labelledby="home-tab">
                                <div>
                                    <table class="table" id="region-table">
                                        <colgroup>
                                            <col span="1" style="width: 30%;">
                                            <col span="1" style="width: 60%;">
                                            <col span="1" style="width: 10%;">
                                        </colgroup>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="cities" role="tabpanel" aria-labelledby="profile-tab">
                                <div>
                                    <table class="table" id="city-table">
                                        <colgroup>
                                            <col span="1" style="width: 30%;">
                                            <col span="1" style="width: 60%;">
                                            <col span="1" style="width: 10%;">
                                        </colgroup>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Traffic on Foss and Pages</h6>
                </div>
                <div class="card-body" style="padding: 0px">
                    <div class="tile-2" id="tile-2">
                        <ul class="nav nav-tabs nav-justified" role="tablist">
                            <div class="slider"></div>
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#foss" role="tab" aria-controls="home" aria-selected="true">Foss</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#pages" role="tab" aria-controls="profile" aria-selected="false">Pages</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="foss" role="tabpanel" aria-labelledby="home-tab">
                                <div>
                                    <table class="table" id="foss-table">
                                        <colgroup>
                                            <col span="1" style="width: 90%;">
                                            <col span="1" style="width: 10%;">
                                        </colgroup>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pages" role="tabpanel" aria-labelledby="profile-tab">
                                <div>
                                    <table class="table" id="pages-table">
                                        <colgroup>
                                            <col span="1" style="width: 90%;">
                                            <col span="1" style="width: 10%;">
                                        </colgroup>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->


{% endblock %} {% block custom_js %}
<script src="{% static 'js/demo/custom-reports.js' %}"></script>
{% endblock %}