{% extends 'base.html' %} {% load static %} {% block title %}
<title>Reports</title>
{% block custom_css %}
<link href="{% static 'css/custom/custom-reports.css' %}" rel="stylesheet"> {% endblock %} {% endblock %} {% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-primary">Reports</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Traffic from locations</h6>
                </div>
                <div class="card-body" style="padding: 0px; height:28em">
                    <div class="tile-1" id="tile-1">
                        <ul class="nav nav-tabs nav-justified" role="tablist">
                            <div class="slider"></div>
                            <li class="nav-item">
                                <a class="nav-link active" id="regions-tab" data-toggle="tab" href="#regions" role="tab" aria-controls="home" aria-selected="true">State/Region</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="cities-tab" data-toggle="tab" href="#cities" role="tab" aria-controls="profile" aria-selected="false">City</a>
                            </li>
                        </ul>
                        <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="width: 100%"></i>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="regions" role="tabpanel" aria-labelledby="home-tab">
                                <table class="table" id="region-table">
                                    <colgroup>
                                        <col span="1" style="width: 40%;">
                                        <col span="1" style="width: 50%;">
                                        <col span="1" style="width: 10%;">
                                    </colgroup>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="cities" role="tabpanel" aria-labelledby="profile-tab">
                                <table class="table" id="city-table">
                                    <colgroup>
                                        <col span="1" style="width: 40%;">
                                        <col span="1" style="width: 50%;">
                                        <col span="1" style="width: 10%;">
                                    </colgroup>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{% url 'location-report' %}">
                        <h6 class="m-0 font-weight-bold text-primary" style="float: right;"><i class="fa fa-search"></i>&nbspView Report</h6>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Traffic on Foss and Pages</h6>
                </div>
                <div class="card-body" style="padding: 0px; height:28em">
                    <div class="tile-2" id="tile-2">
                        <ul class="nav nav-tabs nav-justified" role="tablist">
                            <div class="slider"></div>
                            <li class="nav-item">
                                <a class="nav-link active" id="foss-tab" data-toggle="tab" href="#foss" role="tab" aria-controls="foss" aria-selected="true">Foss</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="events-tab" data-toggle="tab" href="#events" role="tab" aria-controls="events" aria-selected="false">Pages</a>
                            </li>
                        </ul>
                        <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="width: 100%"></i>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="foss" role="tabpanel" aria-labelledby="foss-tab">
                                <table class="table" id="foss-table">
                                    <colgroup>
                                        <col span="1" style="width: 40%;">
                                        <col span="1" style="width: 50%;">
                                        <col span="1" style="width: 10%;">
                                    </colgroup>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="events" role="tabpanel" aria-labelledby="events-tab">
                                <table class="table" id="events-table">
                                    <colgroup>
                                        <col span="1" style="width: 40%;">
                                        <col span="1" style="width: 50%;">
                                        <col span="1" style="width: 10%;">
                                    </colgroup>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{% url 'foss-event-report' %}">
                        <h6 class="m-0 font-weight-bold text-primary" style="float: right;"><i class="fa fa-search"></i>&nbspView Report</h6>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">System</h6>
                </div>
                <div class="card-body" style="padding: 0px; height:28em">
                    <div class="tile-3" id="tile-3">
                        <ul class="nav nav-tabs nav-justified" role="tablist">
                            <div class="slider"></div>
                            <li class="nav-item">
                                <a class="nav-link active" id="browser-tab" data-toggle="tab" href="#browser" role="tab" aria-controls="browser" aria-selected="true">Browser</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="platform-tab" data-toggle="tab" href="#platform" role="tab" aria-controls="platform" aria-selected="false">Platform</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="os-tab" data-toggle="tab" href="#os" role="tab" aria-controls="os" aria-selected="true">OS</a>
                            </li>
                        </ul>
                        <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="width: 100%"></i>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="browser" role="tabpanel" aria-labelledby="browser-tab">
                                <div>
                                    <table class="table" id="browser-table">
                                        <colgroup>
                                            <col span="1" style="width: 30%;">
                                            <col span="1" style="width: 60%;">
                                            <col span="1" style="width: 10%;">
                                        </colgroup>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="platform" role="tabpanel" aria-labelledby="platform-tab">
                                <div>
                                    <table class="table" id="platform-table">
                                        <colgroup>
                                            <col span="1" style="width: 30%;">
                                            <col span="1" style="width: 60%;">
                                            <col span="1" style="width: 10%;">
                                        </colgroup>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="os" role="tabpanel" aria-labelledby="os-tab">
                                <div>
                                    <table class="table" id="os-table">
                                        <colgroup>
                                            <col span="1" style="width: 30%;">
                                            <col span="1" style="width: 60%;">
                                            <col span="1" style="width: 10%;">
                                        </colgroup>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{% url 'system-report' %}">
                        <h6 class="m-0 font-weight-bold text-primary" style="float: right;"><i class="fa fa-search"></i>&nbspView Report</h6>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Traffic</h6>
                </div>
                <div class="card-body" style="padding: 0px; height:28em">
                    <div class="tile-4" id="tile-4">
                        <ul class="nav nav-tabs nav-justified" role="tablist">
                            <div class="slider"></div>
                            <li class="nav-item">
                                <a class="nav-link active" id="sources-tab" data-toggle="tab" href="#sources" role="tab" aria-controls="sources" aria-selected="true">Sources</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="came-from-tab" data-toggle="tab" href="#came-from" role="tab" aria-controls="came-from" aria-selected="false">Came From</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="exit-link-tab" data-toggle="tab" href="#exit-link" role="tab" aria-controls="exit-link" aria-selected="false">Exit Links</a>
                            </li>
                        </ul>
                        <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="width: 100%"></i>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="sources" role="tabpanel" aria-labelledby="sources-tab">
                                <div class="chart-pie pt-4 pb-2">
                                    <canvas id="sourcesPieChart"></canvas>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="came-from" role="tabpanel" aria-labelledby="came-from-tab">
                                <table class="table" id="came-from-table">
                                    <colgroup>
                                        <col span="1" style="width: 80%;">
                                        <col span="1" style="width: 20%;">
                                    </colgroup>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="exit-link" role="tabpanel" aria-labelledby="exit-link-tab">
                                <table class="table" id="exit-link-table">
                                    <colgroup>
                                        <col span="1" style="width: 80%;">
                                        <col span="1" style="width: 20%;">
                                    </colgroup>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{% url 'traffic-report' %}">
                        <h6 class="m-0 font-weight-bold text-primary" style="float: right;"><i class="fa fa-search"></i>&nbspView Report</h6>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->


{% endblock %} {% block custom_js %}
<script src="{% static 'js/custom/custom-reports.js' %}"></script>
{% endblock %}