{% extends 'base.html' %} {% load static %} {% load mathfilters %} {% block title %}
<title>Visitor Activity</title>
{% endblock %} {% block custom_css %}

<link href="{% static 'css/custom/custom-visitor-activity.css' %}" rel="stylesheet">{% endblock %} {% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-primary">Visitor Activity</h1>
    </div>
    <div style="margin-bottom: 10px;">
        <div id="date-select-div" style="display: inline">
            <div style="display: inline-flex">
                <input class="form-control form-control-sm" id="date" type="date" style="width: 10em">
            </div>
            <div style="display: inline-flex">
                <input class="form-control form-control-sm" id="start-time" type="time" style="width: 10em" disabled>
            </div>
            -
            <div style="display: inline-flex">
                <input class="form-control form-control-sm" id="end-time" type="time" style="width: 10em" disabled>
            </div>
        </div>
        <div class="range-slider" style="display: inline">
            <input class="range-slider__range" type="range" value="0" min="0" max="143">
        </div>
        <button class="btn btn-primary" onclick="getData()">View</button>
    </div>

    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered display no-wrap row-border" id="visitor-activity-data-table" width="100%" cellspacing="0">
                    <thead style="visibility: collapse">
                        <th></th>
                        <th></th>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

{% endblock %} {% block custom_js %}
<script src="{% static 'js/custom/custom-visitor-activity.js' %}"></script>
{% endblock %}