{% extends 'base.html' %} 
{% load static %}
{% load leaflet_tags %} 
{% load geojson_tags %} 

{% block title %}
<title>Visitor Map</title>
{% endblock %} 

{% block custom_css %} 

{% leaflet_css %}

<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
<link href="{% static 'css/custom/custom-visitor-map.css' %}" rel="stylesheet">

{% endblock %} 

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-primary">Visitor Map</h1>
    </div>
    {% leaflet_map "spots" callback="window.map_init" %}


</div>
<!-- /.container-fluid -->

{% endblock %} {% block custom_js %} {% leaflet_js %}
<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
<script type="text/javascript">
    var collection = {{ visitor_spots | geojsonfeature:"popupContent" | safe }};
</script>
<script src="{% static 'js/custom/custom-visitor-map.js' %}"></script>
{% endblock %}